<form action="/count_words">
  <div class="form-group">
    <label for="search_word">Enter a word you wish to search for in the text:</label>
    <input type="text" name="search_word" placeholder="Search word">
    <label for="text">Enter a text for which you want a count of your search word:</label>
    <input type="text" name="text">
  </div>
  <button type="submit" class="btn-primary" name="button">Count</button>
</form>
